@model IEnumerable<MyFirstWebApp.Models.Note>
@{
    ViewData["Title"] = "Index";
}


<div class="container col-12 border mt-4 rounded ">

    <!-- TAB BUTTONS -->
    <div class="container row p-1 m-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    <h2 class="text-uppercase">
                        <i class="bi bi-folder2-open"></i> Open Issues
                    </h2>
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    <h2>
                        <i class="bi bi-check2-square"></i> Closed Issues
                    </h2>
                </button>
            </li>
        </ul>
    </div>

    <!-- CONTENT DIVS THAT BECOME VISABLE UPON TAB CLICK -->
    <div class="tab-content" id="myTabContent">

        <!-- OPEN ISSUES TABLE -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div>
                <div class="container  border rounded  pt-2 mt-2 ">
                    <table class="table table-hover ">

                        <!-- TABLE COLUMN TITLES -->
                        <thead>
                            <tr class="table-bordered">
                                <th>
                                    @Html.DisplayNameFor(model => model.NoteTitle)
                                </th>

                                <th>

                                </th>
                                <th>
                                    Created By
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Priority)
                                </th>

                                <th>
                                    Last Edited
                                </th>

                                <th>
                                    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#create-modal">
                                        <i class="bi bi-plus-lg"></i> &nbsp; Add Issue
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model.Where(j => j.Resolved == false))
                            {
                                <tr>
                                    <th>
                                        <a class="text-primary" data-bs-toggle="modal" data-bs-target="#details-modal-@item.Id" title="@item.NoteBody">@Html.DisplayFor(modelItem => item.NoteTitle)</a>
                                    <th />
                                    <th>
                                        @Html.DisplayFor(modelItem => item.User)
                                    </th>

                                    <th>
                                        @Html.DisplayFor(modelItem => item.Priority)
                                    </th>

                                    <th>
                                        @Html.DisplayFor(modelItem => item.TimeCreated)
                                    </th>
                                    <th>
                                        <div>
                                            <a class="btn btn-outline-info "  data-bs-toggle="modal" data-bs-target="#edit-@item.Id" title="Edit Issue">
                                                <i class="bi bi-pencil-square"></i> &nbsp; Edit
                                            </a>

                                            <a class="btn btn-outline-danger " data-bs-toggle="modal" data-bs-target="#delete-@item.Id" name="@item.Id" title="DELETE ISSUE!">
                                                <i class="bi bi-trash3"></i>
                                            </a>
                                            <div />
                                    </th>
                                </tr>

                                <!-- DETAILS MODALS FOR FOR LOOP -->
                                <div class="modal fade" id="details-modal-@item.Id" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel">
                                                    @Html.DisplayFor(model => item.NoteTitle)
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container p-2 m-2">
                                                    <p>
                                                        @Html.DisplayFor(model => item.NoteBody)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="container p-1 m-1">
                                                    <div class="row">
                                                        Created By:  @Html.DisplayFor(modelItem => item.User)
                                                    </div>
                                                    <div class="row">
                                                        Last Edited On:  @Html.DisplayFor(modelItem => item.TimeCreated)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-outline-info " data-bs-toggle="modal" data-bs-target="#edit-@item.Id" title="Edit Issue">
                                                    <i class="bi bi-pencil-square"></i> &nbsp; Edit
                                                </a>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- DELETE ISSUE MODAL -->
                                <div class="modal fade" id="delete-@item.Id" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container align-content-center ">
                                                    <form asp-action="Delete" method="post">
                                                        <input type="hidden" value="@item.Id" name="id" />
                                                        <input type="submit" value="Permanently Delete Issue" class="btn btn-danger" />
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <!-- EDIT ISSUE MODAL -->
                                <div class="modal fade" id="edit-@item.Id" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Edit Issue
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form asp-action="Edit">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" name="Id" value="@item.Id" />
                                                    <input type="hidden" name="User" value="@User.Identity.Name" />
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label name="NoteTitle" class="control-label">Issue Title</label>
                                                            <input name="NoteTitle" class="form-control" value="@item.NoteTitle"  required>
                                                               
                                                            </input>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label name="NoteBody" class="control-label">Issue Explained</label>
                                                            <textarea name="NoteBody" class="form-control" rows="5" required>@item.NoteBody</textarea>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class=" col-4">
                                                        <div class="form-group">
                                                            <label name="Priority" class="control-label">Select Priority Level</label>
                                                            <select name="Priority" class="form-control" asp-items="Html.GetEnumSelectList<PriorityLevel>()">
                                                                <option value="@item.Priority" selected>Select Priority Level</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="form-check form-switch">
                                                        <label name="Resolved" class="form-check-label">Resolved?</label>
                                                        <input type="checkbox" name="Resolved" class="form-check-input" value="true"/>
                                                        <span name="Resolved" class="text-danger"></span>
                                                    </div>
                                                    <br />
                                                    <div class="row pt-2">
                                                        <div class="form-group">
                                                            <input type="submit" value="Save" class="btn btn-primary" />
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </form>



                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </tbody>
                    </table>

                </div>
                <br />
            </div>
        </div>

        <!-- CLOSED ISSUES TABLE -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div>
                <div class="container border rounded  pt-2 mt-2">
                    <table class="table table-hover">

                        <!-- TABLE COLUMN TITLES -->
                        <thead>
                            <tr class="table-bordered ">
                                <th>
                                    @Html.DisplayNameFor(model => model.NoteTitle)
                                </th>

                                <th>

                                </th>
                                <th>
                                    Created By
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Priority)
                                </th>

                                <th>
                                    Last Edited
                                </th>

                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(j => j.Resolved == true))
                            {
                                <tr>
                                    <th>
                                        <a class="text-primary" data-bs-toggle="modal" data-bs-target="#details-modal-@item.Id" title="@item.NoteBody">@Html.DisplayFor(modelItem => item.NoteTitle)</a>
                                    <th />
                                    <th>
                                        @Html.DisplayFor(modelItem => item.User)
                                    </th>

                                    <th>
                                        @Html.DisplayFor(modelItem => item.Priority)
                                    </th>

                                    <th>
                                        @Html.DisplayFor(modelItem => item.TimeCreated)
                                    </th>
                                    <th>
                                        <div>
                                            <a class="btn btn-outline-info " asp-controller="Notes" asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Issue">
                                                <i class="bi bi-pencil-square"></i> &nbsp; Edit
                                            </a>

                                            <a class="btn btn-outline-danger " data-bs-toggle="modal" data-bs-target="#delete-@item.Id" name="@item.Id" title="DELETE ISSUE!">
                                                <i class="bi bi-trash3"></i>
                                            </a>
                                            <div />
                                    </th>
                                </tr>

                                <!-- DETAILS MODALS FOR FOR LOOP -->
                                <div class="modal fade" id="details-modal-@item.Id" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="exampleModalLabel">
                                                    @Html.DisplayFor(model => item.NoteTitle)
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    @Html.DisplayFor(model => item.NoteBody)
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- DELETE ISSUE MODAL -->
                                <div class="modal" id="delete-@item.Id" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container align-content-center ">
                                                    <form asp-action="Delete" method="post">
                                                        <input type="hidden" value="@item.Id" name="id" />
                                                        <input type="submit" value="Permanently Delete Issue" class="btn btn-danger" />
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            }

                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>



<!-- ADD ISSUE MODAL -->
<div class="modal fade" id="create-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <h2 class="text-uppercase">
                        Create a New Issue!
                    </h2>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container border m-1 p-1">
                    <div class=" p-2">


                        <div class="row">

                            <form asp-action="Create" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="">
                                    <div class="form-group">
                                        <label class="control-label">Subject</label>
                                        <input name="NoteTitle" class="form-control" required />
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        <label class="form-label mt-4">Explain Issue</label>
                                        <textarea name="NoteBody" class="form-control" rows="5" required></textarea>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <select name="Priority" class="form-control" asp-items="Html.GetEnumSelectList<PriorityLevel>()">
                                            <option>Select Priority Level</option>
                                        </select>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <br />

                                <input type="hidden" value="@User.Identity.Name" name="User" />
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



