@model IEnumerable<MyFirstWebApp.Models.Note>
@{
    ViewData["Title"] = "Index";
}


<partial name="DetailsPartial" />

<div class="container shadow-lg p-5 mt-5 col-8">
    <div class="container p-1 mt-1">
        <div class="row p-2">
            <div class="col-6 text-center">
                <h2 class="text-uppercase">
                    <i class="bi bi-folder2-open"></i> Open Issues
                </h2>
            </div>
            <div class="col-6 text-center">
                <a asp-controller="Notes" asp-action="Create" class="btn btn-success shadow-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Create A New Note">
                    <i class="bi bi-plus-lg"></i> &nbsp; Add
                </a>
            </div>
        </div>
    </div>
    <div class="row p-2 m-2 justify-content-between">
        @foreach (var item in Model.Where(j => j.Resolved == false))
        {
            <div class="card flex p-1 m-2 shadow rounded " style="min-width: 10rem; max-width: 20rem;">
                <div class="card-body">
                    <a data-toggle="ajax-modal" asp-action="Details" asp-route-id="@item.Id" title="@item.NoteBody">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NoteTitle)</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">Created by:  @Html.DisplayFor(modelItem => item.User)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Last Edited:  @Html.DisplayFor(modelItem => item.TimeCreated)</h6>
                    <div class="p-1  text-center">


                        <a class="btn btn-outline-info " asp-controller="Notes" asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Expand Details">
                            Expand
                        </a>

                        <a class="btn btn-outline-info " asp-controller="Notes" asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Issue">
                            <i class="bi bi-pencil-square"></i> &nbsp; Edit
                        </a>

                        <a class="btn btn-outline-secondary " asp-controller="Notes" asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="DELETE ISSUE!">
                            <i class="bi bi-trash3"></i>
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="container shadow-lg p-5 mt-5 col-8">
    <div class="row p-2 m-1 text-center">
        <div class="col-6  text-center">
            <h1><i class="bi bi-check2-square"></i> Closed Issues</h1>
        </div>
        <div class="col-6">

        </div>

    </div>
    <div class="row p-2 m-2 justify-content-around">
        @foreach (var item in Model.Where(j => j.Resolved == true))
        {
            <div class="card flex p-2 m-2 shadow rounded  bg-light" style="min-width: 10rem; max-width: 20rem;">
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@item.NoteBody">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.NoteTitle)</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">Created by:  @Html.DisplayFor(modelItem => item.User)</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Last Edited:  @Html.DisplayFor(modelItem => item.TimeCreated)</h6>
                    <div class="p-1  text-center">
                        <a class="btn btn-outline-info m-1" asp-controller="Notes" asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Issue">
                            <i class="bi bi-pencil-square"></i> &nbsp; Edit
                        </a>

                        <a class="btn btn-outline-secondary m-1" asp-controller="Notes" asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="DELETE ISSUE!">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript" src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
       
    });
</script>

