@model IEnumerable<MyFirstWebApp.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Notes Master List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Unresolved Notes</h2>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.NoteTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(j => j.Resolved == false))
        {
        <tr>
            <td>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-primary">@Html.DisplayFor(modelItem => item.NoteTitle)</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Expand</a>
                        </div>
                    </div>
                </div>
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.User)
            </th>
            
            <th>
                @Html.DisplayFor(modelItem => item.Priority)
            </th>
           
            <th>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </th>
        </tr>
        }
    </tbody>
</table>

<h2>Resolved Notes</h2>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.NoteTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(j => j.Resolved == true))
        {
        <tr>
            <td>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-primary">@Html.DisplayFor(modelItem => item.NoteTitle)</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Expand</a>
                        </div>
                    </div>
                </div>
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.User)
            </th>
            
            <th>
                @Html.DisplayFor(modelItem => item.Priority)
            </th>
          
            <th>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </th>
        </tr>
        }
    </tbody>
</table>
